
@{
    ViewBag.Title = "Factura";
}
<div class="panel">
    <h3>CoffeGourmettShop</h3>
    <div class="cart"><i class="fa fa-shopping-cart"></i></div>
</div>

<div class="container">
    <div class="content">
        <div class="row">

            <div class="col-md-4">
                <div class="col-md-12 stuff">
                    <div class="upper">
                        <img src="https://media-cdn.tripadvisor.com/media/photo-s/17/bb/2b/7e/caramel-amaretto-mocha.jpg" width="120" height="120">
                    </div>
                    <div class="downer">
                        <h4>Frappe Amaretto <span>$1.55</span></h4>
                        <p>El Amaretto es un licor con un sabor dulce muy aromático, 
                        preparadado a partir de almendras. Su combinación con el café da origen a un sabor y aroma inigualables.</p>
                        <button type="button" class="btn add-to-cart">Agregar al carrito</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12 stuff">
                    <div class="upper">
                        <img src="https://cdn.pixabay.com/photo/2018/12/03/21/40/cappuccino-3854326_960_720.jpg" width="120" height="120">
                    </div>
                    <div class="downer">
                        <h4>Capuchino <span>$2.85</span></h4>
                        <p>Un capuchino contiene expreso, vapor y espuma de leche a partes iguales. 
                        La taza de un capuchino es más pequeña que la taza del café latte,generalmente de 150 a 180 ml.</p>
                        <button type="button" class="btn">Agregar al carrito</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12 stuff">
                    <div class="upper">
                        <img src="https://i2.wp.com/www.teacoffeecup.com/wp-content/uploads/2020/08/classic-espresso-con-panna.jpg?fit=550%2C367&ssl=1" width="120" height="120">
                    </div>
                    <div class="downer">
                        <h4>Expreso Panna  <span>$1.70</span></h4>
                        <p>Un caffè con panna o espresso con panna, que significa "espresso con crema"  en italiano, es un café expreso pequeño o doble, generalmente ligero, cubierto con nata montada, y que tradicionalmente se sirve en demitasse.</p>
                        <button type="button" class="btn">Agregar al carrito </button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="col-md-12 stuff">
                    <div class="upper">
                        <img src="https://img.freepik.com/foto-gratis/mocha-frappe-vaso-plastico_6351-1577.jpg" width="120" height="120">
                    </div>
                    <div class="downer">
                        <h4>Frappe Mocha <span>$1.75</span></h4>
                        <p> Colocar el hielo, la leche, el café, el Coffee mate y el agave en una licuadora; 
                        tapar. Licuar hasta que esté suave </p>
                        <button type="button" class="btn">Agregar al carrito</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12 stuff">
                    <div class="upper">
                        <img src="https://images.freeimages.com/images/large-previews/cdc/coffee-mocha-1317730.jpg" width="120" height="120">
                    </div>
                    <div class="downer">
                        <h4>Mocca  <span>Pric:$2.86</span></h4>
                        <p>Un café moca es una variante del café con leche. Como este, 
                        suele llevar un tercio de expreso y dos tercios de leche vaporizada.</p>
                        <button type="button" class="btn">Agregar al carrito</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12 stuff">
                    <div class="upper">
                        <img src="https://yourdiningcenter.com/wp-content/uploads/2016/11/what-is-a-caf%C3%A9-Americano.jpg" width="120" height="120">
                    </div>
                    <div class="downer">
                        <div class="menu_content">
                            <h4>Cafe Americano  <span>Precio : $2.86</span></h4>
                            <p>
                                El café Americano es un espresso diluido en agua caliente para 
                                tratar de igualarlo en características a un café de filtro.
                            </p>
                            <button type="button" class="btn">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="col-md-13 stuff">
                    <div class="downer">
                        <img src="https://st.depositphotos.com/1580652/4055/i/600/depositphotos_40558155-stock-photo-skillet-peperonni-pizza-on-table.jpg" width="120" height="120">
                    </div>
                    <div class="downer">
                        <h4> Pizza Personal  <span>$2.50</span></h4>
                        <p>Pizza personales de jamón y queso, suprema, margarita ó pepperoni Descripción: 
                        Pizza personales congeladas con 8 pulgadas de diámetro.</p>
                        <button type="button" class="btn">Agregar al carrito</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12 stuff">
                    <div class="upper">
                        <img src="https://saboryestilo.com.mx/wp-content/uploads/2020/05/Hamburguesa-de-pavo-con-jalape%C3%B1o.jpg" width="120" height="120">
                    </div>
                    <div class="downer">
                        <h4>Hamburguesa Jalapeña <span>$3.20</span></h4>
                        <p>Si el picante es lo de ustedes entonces estas hamburguesas con jalapeños les van a encantar. La carne de la hamburguesa tiene jalapeños.</p>
                        <button type="button" class="btn">Agregar al carrito</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12 stuff">
                    <div class="upper">
                        <img src="https://www.cocinayvino.com/wp-content/uploads/2016/08/34166598_l.jpg" width="120" height="120">
                    </div>
                    <div class="downer">
                        <h4>Sandwich de Pollo <span>$1.15</span></h4>
                        <p>El sándwich de pollo​ o emparedado de pollo que consiste en pechuga de pollo deshuesada y sin piel, sobre un bollo de hamburguesa, acompañado de condimentos y guarniciones.</p>
                        <button type="button" class="btn">Agregar al carrito</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

